/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* 
---------------------
Header Section Starts
---------------------
*/
header{
    background: url(../images/banner.png);
    height: 808px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-div{
    margin-right: 200px;
}

.right-div h1{
    width: 525px;
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.right-div p{
    width: 494px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 25px;
    border: none
}
/* 
-------------------
Header Section Ends
-------------------
*/

/* 
----------------------
Failure Section Starts
----------------------
*/

main{
    width: 1140px;
    margin: 140px auto;
}

.failure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
}

.failure img{
    width: 600px;
}

.fail h2{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    margin-bottom: 24px;
}

.fail p{
    width: 416px;
    color:  #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;

}

.fail ul li{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 8px;
    list-style: none;
}

/* 
--------------------
Failure Section Ends
--------------------
*/